<!DOCTYPE html>
<html>
  <head>
    <!-- note: we are using variables in HTML (see below). Remind you of anything we've done in the past? -->
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome, <%= user %>!</h1>
  </body>
</html>
